/* Table */
.dt-container > .dt-layout-row:first-child {
  display: none !important;
}

.dt-paging {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt-empty {
  text-align: center !important;
}

.mc-date-picker {
  cursor: pointer;
}

table.dataTable {
  & > thead > tr {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    vertical-align: center !important;

    & > th {
      font-size: 16px;
      /* padding-top: 15px !important; */
      text-align: left !important;
      /* padding-bottom: 15px !important; */
      /* background-color: #2ca4bf; */
      border: none !important;
      /* color: #fff; */

      &:nth-child(3) {
        text-align: center !important;
        max-width: 180px !important;
      }

      &:focus-visible {
        outline: 2px solid #2ca4bf;
      }

      &:hover {
        outline: none !important;
      }
    }

    & :first-child {
      border-top-left-radius: 10px !important;
    }

    & :last-child {
      border-top-right-radius: 10px !important;
    }
    &:hover {
      outline: none !important;
    }
  }

  & > tbody > tr {
    cursor: pointer;

    &:nth-child(odd) {
      background-color: rgb(233, 233, 233) !important;
    }

    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 1) !important;
    }

    &:hover {
      background-color: rgba(69, 70, 71, 0.35) !important;
      color: #ffffff !important;
      font-weight: bold;
    }

    & > td {
      font-size: 15px;
      text-align: left !important;

      &:nth-child(3) {
        display: flex;
        text-align: center !important;
        max-width: 160px !important;

        & > span.approve {
          color: #ffffff;
          padding: 8px 15px;
          border-radius: 1rem;
          width: 100%;
          margin-top: 5px;
          &.approve-approved {
            background-color: #28a745;
            &::before {
              content: '\e53e';
              font-family: 'FontAwesome';
              padding-right: 5px;
            }
          }
          &.approve-pending {
            background-color: #3896ee;
            &::before {
              content: '\f252';
              font-family: 'FontAwesome';
              padding-right: 5px;
            }
          }
          &.approve-refuse {
            background-color: #d40303;
            &::before {
              content: '\f506';
              font-family: 'FontAwesome';
              padding-right: 5px;
            }
          }
          &.approve-cancel {
            background-color: #ff4800;
            &::before {
              content: '\f05e';
              font-family: 'FontAwesome';
              padding-right: 5px;
            }
          }
        }
      }

      &:first-child > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
